<%= form_with(model: node, local: true) do |form| %>
  <% if node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :node_name %>
  </div>

  <div class="field">
    <%= form.label :mac %>
    <%= form.text_field :mac, id: :node_mac %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
