<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @node.state %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @node.mac %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
