<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @event.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Dependency:</strong>
  <%= @event.dependency %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
