<script language="javascript" type="text/javascript">setTimeout("location.reload();", 3000);</script>

<p id="notice"><%= notice %></p>

<h1>TEDDI Generator</h1>

<%= link_to 'Indicators', indicators_path %> | 
<%= link_to 'Events', events_path %> |
<%= link_to 'Nodes', nodes_path %>

<%= form_tag(generator_create_path, method: :post) do |form| %>

  <% if not @generator.blank? and @generator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generator.errors.count, "error") %> prohibited this generator from being saved:</h2>

      <ul>
      <% @generator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :event %>
    <%= select_tag :event_id, options_for_select(@events.map {|event| [event.name, event.id] }) %>
  </div>

  <div class="field">
    <%= label_tag :indicator %>
    <%= select_tag :indicator_id, options_for_select(@indicators.map {|indicator| [indicator.name, indicator.id] }) %>
  </div>

  <div class="field">
    <%= label_tag :regional %>
    <%= check_box_tag :regional, true %>
  </div>

  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>

<% unless @event_list.blank? %>
  <hr>
  <h2>Events and Indicators Connection</h2>
  <% @event_list.each_with_index do |event, index| %>
    <p>
      <strong> <%= event.name %></strong>:
      <% unless @indicator_list[index].blank? %>
        <% @indicator_list[index].each_with_index do |indicator_name, index2| %>
          <%= indicator_name %><% if index2 < @indicator_list[index].size-1 %>,<% end %>
        <% end %>
      <% end %>
    </p>
  <% end %>
<% end %>

<% unless @node_event_list.blank? %>
  <hr>
  <h2>Nodes and Events</h2>
  <table>
    <thead>
      <tr>
        <th>Node</th>
        <th>Event</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <% @node_event_list.each do |ne| %>
        <tr>
          <td><%= ne[0].name %></td>
          <td><%= ne[1].name %></td>
          <td><%= ne[2] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @node_indicator_list.blank? %>
  <hr>
  <h2>Nodes and Indicators</h2>
  <table>
    <thead>
      <tr>
        <th>Node</th>
        <th>Indicator</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <% @node_indicator_list.each do |ni| %>
        <tr>
          <td><%= ni[0].name %></td>
          <td><%= ni[1].name %></td>
          <td><%= ni[2] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>