<%= form_with(model: indicator, local: true) do |form| %>
  <% if indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(indicator.errors.count, "error") %> prohibited this indicator from being saved:</h2>

      <ul>
      <% indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :indicator_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
