<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @indicator.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @indicator.name %>
</p>

<%= link_to 'Edit', edit_indicator_path(@indicator) %> |
<%= link_to 'Back', indicators_path %>
